  .containerSection {
  width: 100%;
  height: 1000px;
  text-align: center;
}
.containerRed {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(150px,210px));
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 8% 4%;
}
.button {
  display: flex;    
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  width: 125px;
  height: 125px;
  cursor: pointer;
  
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  /* animation border */
  transition: 0.2s;
  border-radius: 50%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 0px solid black;
  border-right: 0px solid black;

}
.button:hover {
  border-left: 12px solid black;
  border-right: 12px solid black;
  border-top: 0px solid black;
  border-bottom: 0px solid black;
}

.titleContact {
  margin-top: 8%;
  font-size: 1.5em;
}
.titleMail {
 text-align: left;
 margin: 20px 25% ;  
}
.formContent {
  height: 750px;
  width: 50%;
  margin: 0% auto;
  display: flex;
  justify-content: center;
}
@media (max-width: 700px) {
  .titleMail {
    margin: 20px 3%;  
   }
   .formContent {
    height: 750px;
    width: 100%;
    padding: 3%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
   } 
}