
h2,h3,p {
  margin: 0%;
}
h3 {
  font-size: 1em;
}

ul li a {
  text-decoration: none;
}

.container {
  position: relative;
  margin-top: 60px;
  height: 1500px;
}
.gout {
  position: sticky;
  top: 15%;
  width: 120px;
  height: 25px;
  padding-top: 5px;
  border-radius: 15PX;
  text-align: center;
  color: white;
  background-color: var(--primary-color-dark);
}
.gout:nth-child(3) {
  background-color: var(--secondary-color-light);
}

.study {
  margin: 12% 0% 12% 35%;
  padding: 12px;
  border-left: 1px solid;
  position: relative;
}
.buttonCursos{
  cursor: pointer; 
  padding: 6px;
  border-radius: 8px;
  margin-top: 40px;
  color: rgb(0, 183, 255);
  font-size: 18px;
  font-style: italic;
  text-align: center;
}
.boxCursos {
  position: sticky;
  background-color: black;
  color: rgb(0, 255, 0);
  font-size: 1.1em;
  font-weight: 600;
  overflow-x: auto;
  padding: 12px;
  transition: 1s ease-in-out;
  opacity: 0;
  height: 0px;
}
.boxCursosActivo {
  height: 800px;
  opacity: 1;
}