h1{ 
  margin: 0%;
  padding: 0%;
}
.containerHeader {
  background-color: var(--primary-color);
  height: 60px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 200;
}
.containerElements {
  max-width: 1000px;
  height: 100%;
  margin: 0% auto;
  display: flex;
  padding-left: 12px; 
  align-items: center;
  justify-content: space-between;
}
.containerLogo {
  text-decoration: none;
  color: white;
  margin: 0%;
  padding: 0%;
}
.logo {
  text-decoration: none;
  color: white;
  margin: 0%;
  padding: 0%;
}

/* NavBar */
.NavBarHeader{
  width: 550px;
  height: 100%;
}
.navbar {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
  text-align: center;
  align-content: center;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.buttonContainer {
  height: 100%;
  color: white;
  cursor: pointer;
}
.buttonContainer:hover {
  color: rgb(178, 96, 255);
  background-color: var(--primary-color-dark);
  height: 100%;
}
.buttonTitle {
  text-transform: uppercase;
  height: 60px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}
.icon {
  max-width: 25px;
  max-height: 25px;
  margin: 0 2px;
  fill: currentColor;
}

.link {
  height: 100%;
  text-decoration: none;
}
.linkActive { 
  text-decoration: none;
}

@media (max-width: 800px) {
  .NavBarHeader {
    display: none;
  }
  .containerHeader {
    position: initial;
    z-index: 0;
  }
}