.navbar {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(15px,1fr));
  background-color: rgb(236, 236, 236);
  text-align: center;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.buttonContainer {
  padding: 4%;
  color: grey;
  cursor: pointer;
}
.buttonContainer:hover {
  background-color: rgb(197, 193, 193);
  color: white;
}
.buttonTitle {
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
}
.icon {
  max-width: 35px;
  max-height: 35px;
  fill: currentColor;
}
.link {
  text-decoration: none;
}
.linkActive { 
  text-decoration: none;
  /* background-color: grey; */
}
 