.container {
  width: 100%;
  padding: 12px;
  margin-top: 15%;
  box-sizing: border-box;
}
.title { 
  text-align: center;
}
.button {
  padding: 12px 20px;
  width: 125px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  margin-left: 40%;
  margin-top: 15%;
  margin-bottom: 15%;
  cursor: pointer;
}
.button a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}